
@{
    ViewBag.Title = "About";
}
<h2 class="well">About this Application</h2>
<span style="color:whitesmoke" ><b>@DateTime.Now</b></span>
<body class="" style="background-color:black">




    <div class="container" style="color:white">
        @*<div class="col-lg-4">
                <h2>Description</h2>
                <p>This Application allows a Administrator bluh bluh bluh </p>
            </div>*@

        <div class="container">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">



                    <div class="item active">
                        @*//Class Structure*@
                        <h3>Class Structure</h3>
                        <p>Class Structure</p>
                        <img src="~/Ubuntu Education Application System STRUCTURE.png" alt="Class Structure" style="width: 100%;height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>

                    @*<div class="item">
                        //Log Narrative
                        <h3>Log in Narrative</h3>

                        <img src="" alt="Log in Narrative" style="width:100%;height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>*@
                    @*//Create Primary Narrative*@
                    <div class="item">

                        <h3>Create Primary Use Case Narrative</h3>

                        <img src="~/pri1.png" alt="Create Primary Narrative" style="width: 100%; height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>@*//Create Primary Narrative*@

                    <div class="item">

                        <h3>Create Primary Use Case Narrative</h3>

                        <img src="~/p2.png" alt="Create Primary Narrative" style="width: 100%; height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>@*//Create Primary Narrative*@
                    <div class="item">

                        <h3>Create Primary Use Case Narrative</h3>

                        <img src="~/p3.png" alt="Create Primary Narrative" style="width: 100%; height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>@*//Create Primary Narrative*@
                    <div class="item">

                        <h3>Create Primary Use Case Narrative</h3>

                        <img src="~/P5.png" alt="Create Primary Narrative" style="width: 100%; height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>@*//Create Primary Narrative*@
                    <div class="item">

                        <h3>Create Primary Narrative</h3>

                        <img src="~/p6.png" alt="Create Primary Narrative" style="width: 100%; height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>@*Edit Primary Applicant Narrative*@
                    <div class="item">

                        <h3>Edit Primary Use Case Narrative</h3>

                        <img src="~/E1.png" alt="Edit Primary Narrative" style="width: 100%; height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>@*Edit Primary Applicant Narrative*@
                    <div class="item">

                        <h3>Edit Primary Use Case Narrative</h3>

                        <img src="~/E2.png" alt="Edit Primary Narrative" style="width: 100%; height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>@*Edit Primary Applicant Narrative*@
                    <div class="item">

                        <h3>Edit Primary Use Case Narrative</h3>

                        <img src="~/E3.png" alt="Edit Primary Narrative" style="width: 100%; height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>@*Edit Primary Applicant Narrative*@
                    <div class="item">

                        <h3>Edit Primary Use Case Narrative</h3>

                        <img src="~/E4.png" alt="Edit Primary Narrative" style="width: 100%; height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>
                    @*View Primary Applicant Narrative*@
                    <div class="item">

                        <h3>View Primary Use Case Narrative</h3>

                        <img src="~/V1.png" alt="View Primary Applicat Details Narrative" style="width: 100%; height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>
                    @*View Primary Applicant Narrative*@
                    <div class="item">

                        <h3>View Primary Use Case Narrative</h3>

                        <img src="~/V2.png" alt="View Primary Applicat Details Narrative" style="width: 100%; height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>
                    @*View Primary Applicant Narrative*@
                    <div class="item">

                        <h3>View Primary Use Case Narrative</h3>

                        <img src="~/V3.png" alt="View Primary Applicat Details Narrative" style="width: 100%; height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>
                    @*Delete Primary Applicant Narrative*@
                    <div class="item">

                        <h3>Delete Primary Use Case Narrative</h3>

                        <img src="~/D1.png" alt="View Primary Applicat Details Narrative" style="width: 100%; height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>
                    @*Delete Primary Applicant Narrative*@
                    <div class="item">

                        <h3>Delete Primary Use Case Narrative</h3>

                        <img src="~/D2.png" alt="View Primary Applicat Details Narrative" style="width: 100%; height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>
                    @*Delete Primary Applicant Narrative*@
                    <div class="item">

                        <h3>Delete Primary Use Case Narrative</h3>

                        <img src="~/D3.png" alt="View Primary Applicat Details Narrative" style="width: 100%; height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>
                    @*Delete Primary Applicant Narrative*@
                    <div class="item">

                        <h3>Delete Primary Use Case Narrative</h3>

                        <img src="~/D4.png" alt="View Primary Applicat Details Narrative" style="width: 100%; height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>
                    @*Delete Primary Applicant Narrative*@
                    <div class="item">

                        <h3>Delete Primary Use Case Narrative</h3>

                        <img src="~/D5.png" alt="View Primary Applicat Details Narrative" style="width: 100%; height:100%">
                        <div class="carousel-caption">

                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</body>
@section scripts{
    <script>


    </script>

} 